@import url('./Var/var.scss');

#addCarDiv{

    position: relative;
    top:2vw;
    gap:1vw;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-around;

    margin: auto;
    padding: 1vw;

    border:1.5vw solid transparent;
    border-image: repeating-linear-gradient(125deg,rgb(22, 118, 207), rgb(26, 3, 156) 3%, rgb(25, 165, 207) ,rgb(15, 179, 64) 10%,rgb(165, 199, 12) 8%,
    rgb(238, 159, 14) 8%)10;

    h1{
        color:transparent;
        background: linear-gradient(110deg,rgb(218, 18, 191) , rgb(16, 2, 212));
        background-clip: text;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    input[type="text"]
    {
        width:20vw;
        text-align: center;
        font-size: 2vw;
        color:blue
    }

    input[type="text"]::placeholder
    {
    color:darkgoldenrod;
    background-color: bisque;
    }




}

#buttonAdd{
    border-radius: 10%;
    width:fit-content;
    position: relative;

    background:linear-gradient(50deg,rgb(83, 245, 124),rgb(23, 236, 218)) ;
    transition: 5s;
    font-size: 2vw;
    padding: 1vw;

    div{
        transition: 5s;
        animation: changeColor2 5s infinite;
    }
    &:hover{
        box-shadow: 0 0vw .3vw .5vw rgb(7, 218, 255);
        transform: perspective(1000vw) translateZ(200vw);
        height: 10vw;
        width: 10vw;

        background-size: auto;
        background: url('../Img/add.gif') no-repeat scroll ;
        background-position: center;

        background-color: lightblue;
        margin-bottom: 2vw;
        div{
            transform: translateY(7vw);
            background-color: rgb(7, 218, 255);
        }
    }
}

@include myAnims(changeColor2,color,rgb(168, 157, 2),color,rgb(39, 17, 235));
            // toggle options


#toggleCar{

    width: fit-content;
    padding: 1vw;
    margin-left: auto;
    margin-right: auto;
    label{

        background-color: transparent;
        position: relative;
        display: inline-block;
        bottom: 1vw;
        margin: .5vw;
        width: 6vw;
        height: 2.5vw;

        input{
            opacity: 0;
            width: 0;
            height: 0;

            &:checked + span{
                    background-color: #2196F3;

                    &::before{
                        transform: translateX(2.2vw);
                    }
                }

            &:focus  + span{
                    box-shadow: 0 0 1px #1fc580;
                }
        }

        span{
            position: absolute;
            cursor: url("../Cursor/click.gif") ,auto;
            top:0;bottom:0;
            right: 0;left: 0;
            background-color: lightseagreen;
            transition: .4s;

            border-radius: 2vw;
            &::before{
                position: absolute;
                content: "";
                height: 2vw;
                width: 2vw;
                left:1vw;
                bottom: .2vw;
                background-color: red;
                transition: .4s;

                border-radius: 10vw;
            }
        }
    }

    span{
        font-size: 2vw;
        font-weight: bolder;
        padding: .5vw;
    }
}

#optionTurnOn{
    color:blue;
    text-shadow: 0 -1px 4px blue,
    0 -2px 10px yellow,
    0 -10px 20px orange,
    0 -18px 40px red,
    ;
}

#optionTurnOff{
    color:rgba(44,3,34,0.6);
    text-shadow: 3px 2px 3px rgba(126, 13, 126, 0.541);
}


.divOptions{
    padding: 2vw;
    border: 1.5vw groove complement(rgb(95, 95, 235));
}

#option1{
    display: inline-block;
}

#option2{
    display: none;
}



// custom radio 

.Description{
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:transparent;
    background: linear-gradient(30deg,rgb(246, 9, 9),rgb(255, 124, 18));
    background-clip: text;

}

.DescriptionOpt{
    font-size: 2vw;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:transparent;
    background: linear-gradient(30deg,rgb(7, 250, 7),rgb(238, 10, 10));
    background-clip: text;
}
.myRadios{
    width: fit-content;
    margin: auto;
}
.customRadio{
    display: block;
    position: relative;
    padding-left: 3vw;
    margin-bottom: .5vw;
    cursor: url("../Cursor/noEnter.gif") ,auto;
    font-size: 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: .2vw;
    user-select: none;

    input{
        position: absolute;
        opacity: 0;
        cursor: url("../Cursor/click.gif") ,auto;
        height: 0;
        width: 0;
    }

    span{
        position: absolute;
        top:0;left:0;
        height: 2vw;
        width: 2vw;
        background-color: rgb(224, 208, 155);
        
        // to circle
        border-radius: 50%;
    }

    &:hover input ~ span {
        background-color: rgb(16, 167, 255);
    }

    input:checked ~ span{
        background-color: #44efff;
    }

    span:after{
        content: "";
        position: absolute;
        display: none;
    }

    input:checked ~ span:after{
        display: block;
    }

    span:after{
        left:.4vw;
        top:.4vw;

        // width:5px;
        // height: 10px;
        // transform: rotate(45deg);
        // border: solid white;
        // border-width: 0 3px 3px 0;

        // to circle
        width: 1.3vw;
        height: 1.3vw;
        border-radius: 50%;
        background: linear-gradient(to bottom,red,yellow);

    }
}


// slide imgs

#CatalogCars{

    width: fit-content;
    padding: 2vw;
    background-color: greend;

    button{
        border-color: cyan;
        border-radius: 18%;
        font-size: 2.5vw;
        width:fit-content;
        transition: .5s;
        position: relative;
        font-family: fontAwesome;
        &:hover{
            box-shadow:  0 0vw .3vw .5vw cornflowerblue;
        }
        i{
            display: inline-block;
            left:-.5vw;bottom:-.4vw;
            transform: translateX(-.5vw) translateY(.4vw);
        }
    }

    i{
        font-size: 2.5vw;
        // display: inline-block;
        // transform: translateY(0.3vw);
    }

    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1vw;
        width: 15vw;
        height: 15vw;

        border:1.5vw solid transparent;
        border-image: repeating-linear-gradient(
            125deg,
            #279db0,
            rgb(21, 253, 253) 3%,
            rgb(1, 5, 248) 3%,
            rgb(195, 9, 241) 15%
        ) 10;
    }

    :not(:first-child):not(:last-child)
    {
    display: none;
    }
}


#btn_Slide_Left{

    bottom: 7vw;
    margin-left: 14vw;
    transform: rotate(180deg)
               translateY(7vw) translateX(-1vw);
}

#btn_Slide_Right{

    left:18vw;
    bottom:7vw;
    transform: translateY(-7vw) translateX(18vw);
}

#btn_Slide_LeftWithRight{
    top: -5.6vw;
    right:-11.3vw;
    transform: rotate(180deg)
               translateY(5.6vw) translateX(-11.3vw);

}

#btn_Slide_RightWithLeft{
    bottom:7.3vw;
    left:23.2vw;
    transform: translateY(-7.3vw) translateX(23.2vw);

}

.mySlideTitle{
    background: linear-gradient(12deg,#e9ff14,#2f5aed);
    color:lighten(rgb(36, 170, 182), 30);
    font-size: 2vw;
    font-family: fontAwesome;
    font-weight: bolder;
    width: fit-content;
    padding: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 1vw;
}

.SlideTitleLeft{
    margin: 0 20vw;
    margin-bottom: -2.5vw;
}


.SlideTitleRight{
    margin: 0 30vw;
    margin-bottom: -2.5vw;
}

.SlideTitleCenter{
    width:20vw;
    margin: 0 25.5vw;
    margin-bottom: -6vw;
}

#CountriesCars{
    dl{
        display: flex;
        flex-direction: column;
        gap:3vw;
        list-style: none;

        dt{
            font-size: 1.4vw;
            font-weight: bolder;
            color:darken(#f3ec87, 20);
            text-shadow: 3px 0px 7px rgba(81,67,21,0.8), 
                        -3px 0px 7px rgba(81,67,21,0.8), 
                        0px 4px 7px rgba(81,67,21,0.8);
            font-family:Verdana, Geneva, Tahoma, sans-serif; 
            
            &::before{
                content: '';
                display: inline-block;
                height: 8vw;
                width: 8vw;
                margin-right: 3vw;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('../Img/List.gif');
                background-size: 8vw 8vw;
            }
        
        }

        dd{
            font-size: 1.2vw;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
                margin-bottom: 1vw;
                text-align: center;
        
         &:hover{
             background-color: #f3ec87;
         }
        }
    }
}